<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Tab 1: In Use -->
    <ion-tab-button tab="in-use">
      <img src="assets/icon/visualizacion.svg" alt="In Use" style="width: 24px; height: 24px;">
      <ion-label>En Uso</ion-label>
    </ion-tab-button>


    <!-- Tab 3: Categories -->
    <ion-tab-button tab="categoriasu" (click)="abrirFiltroCategoriast()" >
      <img src="assets/icon/filtrar.svg" alt="Categorias" style="width: 24px; height: 24px;">
      <ion-label>Categorías</ion-label>
    </ion-tab-button>

    <!-- Tab 5: Profile -->
    <ion-tab-button tab="profiles">
      <img src="assets/icon/usuario.svg" alt="Profile" style="width: 24px; height: 24px;">
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>